.container_module_card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: inherit;
}

.home {
  background-image: linear-gradient(
      rgba(0, 0, 255, 0.5),
      rgba(255, 255, 0, 0.5)
    ),
    url("../images/hero.jpg");
    background-position: center center;
    background-size:contain;
    background-repeat: no-repeat;
}
